#root {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.todo-list {
  display:flex;
  justify-content: stretch;
  width:1000px;
  max-width: 95vw;
  margin: 0 auto;
  padding:20px 0;
}
.todo-list__side {
  float: left;
  width: 30%;
  margin-right: 12px;
}
.todo-list__main {
  flex: 1 1 auto;
}
.cards {
  display:block;
  position: relative;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  background:white;
  margin-bottom: 10px;
  /* z-index: 0; */
}

.cards::before, .cards::after {
  content: '';
  display: block;
  position:absolute;
  top: 0;bottom: -10px;left: 10px;right: 10px;
  top: 0;bottom: -7px;left: 9px;right: 9px;
  background:#f0f0f0;

  z-index:-1;
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
}
.cards::after {
  background:#f8f8f8;
  top: 0;bottom: -5px;left: 5px;right: 5px;
  top: 0;bottom: -4px;left: 4px;right: 4px;
}
.cards__header {
  padding:10px 20px;
  font-weight: bold;
}
.cards__body {
  border-top: 1px solid #ccc;
}

.cards__entry:hover {
  background:#f8f0f8;
  cursor: pointer;
}

.entry__side,
.entry__content {
  padding: 10px;
}
.cards__entry {
  display:block;
  margin:0;
}
.cards__entry:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.media::after {
  content:'';
  display:table;
  clear:both;
}
.media__side {
  float: left;
}
.media__content {
  overflow:hidden;
}



.checkbox {
  display:inline-block;
  line-height: 0;
  overflow: hidden;
  height:16px;
  width:16px;
}
.checkbox__input {
  display: none;
}
.checkbox__view::before {
  display:none;
  content:'';
  height:calc(100% - 8px);
  margin:4px;
  border-radius: 3px;
  background: #b8f;
  line-height: 0;
}
.checkbox__input:checked + .checkbox__view::before {
  display:block;
}
.checkbox__view {
  display: inline-block;
  height:16px;
  width:16px;
  background:#eee;
  /* box-shadow: 0 0 2px 0 rgba(0,0,0,.2), 0 3px 2px -1px rgba(0,0,0,.2); */
  box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
  border-radius: 4px;
  overflow: hidden;
}

@keyframes page-tweening-right {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(100%)
  }
}
@keyframes page-tweening-left {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-100%)
  }
}